version: '3.8'
services:
  go_test:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - ../dapa-database/migrations:/database/migrations
      - .env:/app/.env
    environment:
      - DB_HOST=database_test
      - DB_PORT=5432    
      - DB_USER=test_user
      - DB_PASSWORD=test_password
      - DB_NAME=dapa_test
      - JWT_SECRET=a_test_jwt_secret
      - RESET_SECRET=a_test_reset_secret
    depends_on:
      database_test:
        condition: service_healthy
    command: >
      sh -c "go test ./app/test/integration -v"
    networks:
      - app-network

  database_test:
    build:
      context: ../dapa-database
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_DB: dapa_test
    ports:
      - "5432:5432"
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10

networks:
  app-network:
    driver: bridge
